/* CSS Document */

h1 {
	font: 1.2em Arial, Helvetica, sans-serif;
}

input.txt {
	color: #363636;
	background-color: #FAFAD1;
	border: 1px inset Black;
	width: 150px;
}

input.btn {
	color: #00008B;
	background-color: #ADD8E6;
	border: 1px outset #00008B;
}

input.preview {
	color: #363636;
	background-color: #FAFAD1;
	border: 1px inset Black;
	width: 150px;
}

input.preview_dato {
	color: #363636;
	background-color: #FAFAD1;
	border: 1px inset Black;
	width: 100px;
	margin-right: 10px;
}

button.preview {
	width: 25%;
	margin-left: 10px;
}

label.preview {
	width: 100%;
	font: bold 1.0em Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: middle;
}

form p {
	clear: left;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	vertical-align: middle;
}

form p label {
	float: left;
	width: 25%;
	font: bold 1.0em Arial, Helvetica, sans-serif;
	margin-right: 1%;
	text-align: right;
}

form p label.buscar {
	width: 50%;
	font: bold 1.0em Arial, Helvetica, sans-serif;
	margin-left: 20%;
	text-align: left;
}

form p label.mensaje {
	width: 80%;
	font: bold 1.0em Arial, Helvetica, sans-serif;
	margin-left: 20%;
	text-align: left;
}

fieldset {
	border: 1px dotted #CCCD32;
    width: inherit;
	margin-top: 10px;
	padding: 10px;
}

legend {
	font: bold 1.4em Arial, Helvetica, sans-serif;
	color: Black;
	background-color: #FFFFFF;
}

legend.usuario {
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: Black;
	background-color: #FFFFFF;
}

/*
	Menu
*/

#menu_navegacion {
	width:156px;
	visibility: visible;
	float: left;
	top: 294px;
	left: 263px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

#menu_navegacion ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu_navegacion li {
}

#menu_navegacion li a {
	display: block;
}

#menu_navegacion a:link, #menu_navegacion a:visited {
	background: #f3f3f3;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 2px 2px 20px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

#menu_navegacion a:link.active, #menu_navegacion a:visited.active {
	background: #fff;
	color: #000;
}

#menu_navegacion a:hover {
	background: #fff;
}

/*
	Layouts de ingresos previos
*/

#cont_parroquia, #cont_solicitante, #cont_solicitante_01, #cont_solicitante_02,
#cont_padres_esposo, #cont_padres_esposa, #cont_padres, #cont_padrinos,
#cont_reg_eclesiastico, #cont_reg_civil, #cont_observacion {
	width:330px;
	position: absolute;
	visibility: hidden;
	float: right;
	height: 300px;
	border: 1px solid #ccc;
	background: #fff;
	left: 422px;
	top: 318px;
}

/*
	Layouts de ingresos
*/

#parroquia, #solicitante, #solicitante_01, #solicitante_02,
#padres_esposo, #padres_esposa, #padres, #padrinos, 
#reg_eclesiastico, #reg_civil, #txt_observacion {
	z-index: 1;
	padding: 5px;
	vertical-align:middle;
	position: absolute;
	width:499px;
	visibility: hidden;
	height: 302px;
	top: 294px;
	left: 263px;
}

#ministro {
	z-index: 7;
    text-decoration: none;
 	background-color: #FFFFFF;
	padding: 5px;
	vertical-align:middle;
	position: absolute;
	width:476px;
	visibility: hidden;
	height: 302px;
	top: 293px;
	left: 264px;
}

/*
	Layouts de tipos de busquedas
*/

#buscar_por_nombre_apellido, #buscar_por_fecha {
	z-index: 1;
	padding: 5px;
	vertical-align:middle;
	position: absolute;
	width:455px;
	visibility: hidden;
	height: 192px;
	top: 409px;
	left: 264px;
}
