#enlace {
	cursor:pointer; 
	font-weight: bold; 
	color: #0000FF; 
	font-size: 10pt;
}

a:link, a:active, a:visited {
	color: #4d4d4d;
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 12px;
}

a:hover {
	color: #ff6500; 
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	text-decoration: underline overline; 
	font-size: 12px;
}

a {
	font-size: 12pt; 
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

td, tr { 
	color: #333333; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}
	
.default {
	color: #4d4d4d; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}

.etiqueta {
	text-align: right;
	color: #666666;
	font-weight: bold;
	font-size: 10pt;
	line-height: 10pt;
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	margin-top: 5px;
	argin-right: 6px;
	margin-left: 10px;
	vertical-align: middle;
}

.titulo_principal {
	color: #333333; 
	font-weight: bold; 
	font-size: 13pt; 
	line-height: 10pt; 
	font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	margin-top: 5px; 
	margin-right: 6px; 
	margin-left: 10px;
}

.titulo {
	color: #333333; font-weight: bold; font-size: 12pt; line-height: 10pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; margin-top: 5px; margin-right: 6px; margin-left: 10px;
}

b { 
	color: #a9a9a9; font-weight: bold; font-size: 10pt; line-height: 10pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; clear: right; 
}

li {
        line-height: 20px; text-indent: -15px; list-style-position: outside; clear: left; margin-left: 0px; padding-left: 0px;
}

p  { 
        margin-right: 6px; margin-left: 6px;
}

.style2 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
}

.style3 {color: #FFFFFF}
.style4 {color: #000000}
